body {
  font-family: "微软雅黑", "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
img {
  border: medium none;
  margin: 0;
  padding: 0;
}
a,
button,
input,
select,
textarea {
  font: 12px/1.5 '微软雅黑', helvetica;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
em {
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
img {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.cl:before,
.cl:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.cl:after {
  clear: both;
}
.cl {
  zoom: 1;
}
.l {
  float: left;
}
.r {
  float: right;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.flex-v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.flex-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-pack-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-pack-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.ell {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tools {
  position: fixed;
  top: .25rem;
  right: .25rem;
  left: .25rem;
  z-index: 2;
}
.tools span {
  float: right;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  height: 25px;
  line-height: 25px;
  padding: 0 .2rem;
  font-size: .35rem;
  -webkit-text-stroke-width: 0;
}
.tools span i {
  font-size: .4rem;
}
.tools span.iconfont {
  font-size: .4rem;
}
.release-btn {
  position: fixed;
  right: .25rem;
  bottom: .35rem;
  z-index: 2;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(0, 153, 204, 0.7);
  text-decoration: none;
}
.release-btn i {
  font-size: .9rem;
  -webkit-text-stroke-width: 0;
}
.banner {
  position: relative;
  height: 3rem;
  overflow: hidden;
}
.banner img {
  display: block;
}
.banner .banner-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .25rem;
  color: #fff;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.banner .banner-info h5 {
  font-size: .4rem;
  font-weight: normal;
  margin-bottom: .15rem;
}
.banner .banner-info p {
  font-size: .3rem;
  color: #eee;
}
.banner .banner-info .live-state {
  position: absolute;
  right: .25rem;
  bottom: .25rem;
  color: #fff;
  font-size: .3rem;
  height: 25px;
  line-height: 25px;
  padding: 0 .2rem;
  background: #ddd;
}
.banner .banner-info .live-state.live-state-on {
  background: #2f75bb;
}
.live-content > header {
  font-size: .35rem;
  color: #999;
  padding: .15rem .25rem;
}
.live-content > ul > li {
  position: relative;
  background: #fbfbfb;
  padding: .25rem .25rem 0 .25rem;
  margin-bottom: .25rem;
}
.live-content > ul > li:after {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.live-content > ul > li > header {
  padding-left: 1.5rem;
  position: relative;
  height: 1.2rem;
  margin-bottom: .25rem;
}
.live-content > ul > li > header img {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  left: 0;
  top: 0;
}
.live-content > ul > li > header h5 {
  font-size: .35rem;
  font-weight: normal;
  color: #2f75bb;
  height: 25px;
  line-height: 25px;
}
.live-content > ul > li > header p {
  color: #999;
  font-size: .3rem;
}
.live-content > ul > li > p {
  font-size: .35rem;
  color: #333;
  line-height: .55rem;
}
.live-content > ul > li > p img,
.live-content > ul > li > p video {
  width: 100%;
  margin-top: .25rem;
}
.live-content > ul > li > footer {
  background: #fff;
  width: 100%;
  padding: .25rem 0;
}
.live-content > ul > li > footer > span {
  width: 2rem;
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #ddd;
  color: #333;
  font-size: .3rem;
}
.live-content > ul > li > footer > span i {
  font-size: .5rem;
}
.live-content > ul > li > footer > span span {
  position: relative;
  top: -.05rem;
}
.live-content > ul > li > footer > span:last-child {
  float: right;
}
.live-content > ul > li > footer > span:first-child {
  margin-right: .25rem;
}
.live-content > ul > li > footer > span.active {
  background: #2f75bb;
  color: #fff;
  border-color: #2f75bb;
}
.live-content > ul > li:last-child {
  margin: 0;
}
.list-comment {
  position: relative;
  margin: 0 -.25rem;
  padding: 0 .25rem .25rem .25rem;
  background: #F7F7F7;
  display: none;
}
.list-comment ul li {
  border-bottom: 1px solid #EFEFEF;
  padding: .25rem 0;
}
.list-comment ul li:last-child {
  border: none;
}
.list-comment ul li header {
  padding-left: 1rem;
  position: relative;
  height: .75rem;
  margin-bottom: .15rem;
}
.list-comment ul li header img {
  position: absolute;
  width: .75rem;
  height: .75rem;
  left: 0;
  top: 0;
}
.list-comment ul li header h5 {
  font-size: .3rem;
  font-weight: normal;
  color: #2f75bb;
  height: .75rem;
  line-height: .75rem;
}
.list-comment ul li p {
  font-size: .3rem;
  color: #333;
  margin-left: 1rem;
}
.list-comment .new-comment-btn {
  background: #fff;
  width: 100%;
  display: block;
  margin-top: .15rem;
  padding: .25rem;
  box-sizing: border-box;
  color: #999;
  border: 1px solid #E2E2E2;
}
.comment-content {
  padding: .25rem;
  background: #fff;
}
.comment-content .list-comment {
  display: block;
  background: #fff;
  padding: 0;
  margin: 0;
}
.comment-content .list-comment ul li {
  padding: .5rem 0;
}
.comment-content .list-comment ul li header h5 span {
  color: #999;
}
.gray-body {
  background-color: #f1f1f1;
}
.navbar {
  height: 44px;
  line-height: 44px;
  padding: 0 .25rem;
  background-color: #444;
  overflow: hidden;
}
.navbar .left {
  float: left;
}
.navbar .left i {
  padding-right: .25rem;
  border-right: 1px solid #333;
  color: #fff;
  font-size: .5rem;
}
.navbar .right {
  float: right;
  height: 44px;
  line-height: 44px;
}
.navbar .right .send-btn {
  background-color: #00CC00;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0 .35rem;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  color: #fff;
}
.content {
  background-color: #fff;
}
.content .release-content {
  width: 100%;
  box-sizing: border-box;
  padding: .25rem;
  font-size: .35rem;
  outline: 0;
  height: 4rem;
}
.content .release-img {
  padding: .25rem;
  position: relative;
  height: 2rem;
  width: 2rem;
}
.content .release-img span {
  height: 2rem;
  width: 2rem;
  text-align: center;
  line-height: 2rem;
  display: inline-block;
  border: 1px solid #ddd;
  background-size: cover;
}
.content .release-img span i {
  color: #ddd;
  font-size: .9rem;
}
.content .release-img .release-input {
  position: absolute;
  left: .25rem;
  right: .25rem;
  bottom: .25rem;
  top: .25rem;
  opacity: 0;
}
.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}
.comment-layer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff;
}
.comment-layer header {
  border-bottom: 1px solid #eee;
  height: 1rem;
  line-height: 1rem;
  color: #333;
  font-size: .35rem;
  text-align: center;
}
.comment-layer header span {
  color: #999;
}
.comment-layer header span:first-child {
  float: left;
  margin-left: .25rem;
}
.comment-layer header span:last-child {
  float: right;
  margin-right: .25rem;
}
.comment-layer header span.active {
  color: #2f75bb;
}
.comment-layer textarea {
  padding: .25rem;
  font-size: .35rem;
  width: 100%;
  outline: 0;
  box-sizing: border-box;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 0px;
  bottom: 0px;
  left: 0;
  width: 100%;
  background: #e8e8e8;
  overflow: hidden;
}
#wrapper #scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
#wrapper #scroller-pullDown,
#wrapper #scroller-pullUp {
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  font-size: .3rem;
  color: #999;
  text-align: center;
  position: absolute;
  left: 0px;
  width: 100%;
}
#wrapper #scroller-pullDown {
  top: -40px;
}
#wrapper #scroller-pullUp {
  bottom: -45px;
}
/*# sourceMappingURL=style.css.map */
