/*
 * 热点事件管理页面
*/
.hotNews-comments{
	display: none;
}
.hotNews-comments>h3{
	font-weight: 300!important;
}
.hotNews-comments .messages-title{
	height: 20px;
}

/*
 * 热点事件新增页面
 */
#attachment-btns-wrapper>div {
	float: left;
	margin: 0 10px;
	height: 28px;
	line-height: 28px;
}
#attachment-btns-wrapper a {
	float: left;
}

/*
 * index
*/
@media screen and (max-width:650px){
	#siderbagr-menu{
		z-index:56
	}
}

/*
 * 投票管理显示大图
 */
.item-list-img-hover{
	display:block;
	width:200px;
	margin-left:-150px;
	margin-top:-100px;
	z-index:99;
	position:absolute;
	border:1px solid #ededed;
}

/*
 *	问答
 */
.wenda-add-text{
	height:32px;
	line-height:32px;
	text-align:center
}
.wenda-subject-add{
	cursor:pointer
}