/*
 * 热点事件管理页面
*/
.hotNews-comments{
	display: none;
}
.hotNews-comments>h3{
	font-weight: 300!important;
}
.hotNews-comments .messages-title{
	height: 20px;
}
/*
 * index
*/
#sidebar-menu ul>li.hot{
	display:block!important
}
@media screen and (max-width:650px){
	#siderbagr-menu{
		z-index:56
	}
}